In [5]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

#import numpy as np # linear algebra
#import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

#import os
#for dirname, _, filenames in os.walk('/kaggle/input'):
#    for filename in filenames:
 #       print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
import pandas as pd
read_csv = pd.read_csv("/content/drive/MyDrive/Datasets/student_data.csv")
read_csv.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [8]:
dataset = read_csv
dataset.shape

(395, 33)

In [9]:
dataset.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

# Hot-Encoding data

In [10]:
dataset.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [11]:
dataset['sex'].value_counts()

F    208
M    187
Name: sex, dtype: int64

In [12]:
dataset['address'].value_counts()

U    307
R     88
Name: address, dtype: int64

In [13]:
dataset['Mjob'].value_counts()

other       141
services    103
at_home      59
teacher      58
health       34
Name: Mjob, dtype: int64

In [14]:
dataset['Fjob'].value_counts()

other       217
services    111
teacher      29
at_home      20
health       18
Name: Fjob, dtype: int64

In [15]:
dataset['Pstatus'].value_counts()

T    354
A     41
Name: Pstatus, dtype: int64

### dropping "un-necessary" columns

In [16]:
dataset.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [17]:
dataset_dropped =  dataset.drop(["Medu","Fedu",'reason', 'guardian', 'traveltime','failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'], axis =1)
dataset_dropped

    school sex  age address famsize Pstatus      Mjob      Fjob  studytime
0       GP   F   18       U     GT3       A   at_home   teacher          2
1       GP   F   17       U     GT3       T   at_home     other          2
2       GP   F   15       U     LE3       T   at_home     other          2
3       GP   F   15       U     GT3       T    health  services          3
4       GP   F   16       U     GT3       T     other     other          2
..     ...  ..  ...     ...     ...     ...       ...       ...        ...
390     MS   M   20       U     LE3       A  services  services          2
391     MS   M   17       U     LE3       T  services  services          1
392     MS   M   21       R     GT3       T     other     other          1
393     MS   M   18       R     LE3       T  services     other          1
394     MS   M   19       U     LE3       T     other   at_home          1

[395 rows x 9 columns]

In [18]:
dataset_dropped.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
       'studytime'],
      dtype='object')

# Hot Encoding data

In [19]:
one_encoded_data = pd.get_dummies(data = dataset_dropped, columns = ['school', 'sex', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
       'studytime'])

one_encoded_data

,age,address,school_GP,school_MS,sex_F,sex_M,famsize_GT3,famsize_LE3,Pstatus_A,Pstatus_T,...,Mjob_teacher,Fjob_at_home,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,studytime_1,studytime_2,studytime_3,studytime_4
0,18,U,1,0,1,0,1,0,1,0,...,0,0,0,0,0,1,0,1,0,0
1,17,U,1,0,1,0,1,0,0,1,...,0,0,0,1,0,0,0,1,0,0
2,15,U,1,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,1,0,0
3,15,U,1,0,1,0,1,0,0,1,...,0,0,0,0,1,0,0,0,1,0
4,16,U,1,0,1,0,1,0,0,1,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,20,U,0,1,0,1,0,1,1,0,...,0,0,0,0,1,0,0,1,0,0
391,17,U,0,1,0,1,0,1,0,1,...,0,0,0,0,1,0,1,0,0,0
392,21,R,0,1,0,1,1,0,0,1,...,0,0,0,1,0,0,1,0,0,0
393,18,R,0,1,0,1,0,1,0,1,...,0,0,0,1,0,0,1,0,0,0
394,19,U,0,1,0,1,0,1,0,1,...,0,1,0,0,0,0,1,0,0,0

# To Predict Address lol!

let U = 1, R = 0

In [20]:
one_encoded_data['address'] = one_encoded_data['address'].replace(['U','R'],[1,0])
new_Data = one_encoded_data
new_Data.shape

(395, 24)

## X_data are the festures(parameters) used to predict Y_data(result)

In [21]:
X_data = new_Data.drop(['address'],axis =1)
X_data.shape

(395, 23)

In [22]:
Y_data = new_Data['address']
Y_data.shape

(395,)

In [23]:
# Spliting arrays or matrices into random train and test subsets
from sklearn.model_selection import train_test_split
# i.e. 70 % training dataset and 30 % test datasets
x_train, x_test, y_train, y_test = train_test_split(X_data, Y_data, test_size = 0.30)

In [24]:
x_train.shape

(276, 23)

In [25]:
from sklearn.ensemble import RandomForestClassifier

# creating a RF classifier
clf = RandomForestClassifier(n_estimators = 100) 
 
# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
clf.fit(x_train, y_train)
 
# performing predictions on the test dataset
y_pred = clf.predict(x_test)
 
# metrics are used to find accuracy or error
from sklearn import metrics 
print()
 
# using metrics module for accuracy calculation
print("ACCURACY OF THE INITIAL MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE INITIAL MODEL:  0.7478991596638656

## Now we reduce the data for the ML model

In [26]:
X_data.shape

(395, 23)

### taking random rows for training

In [27]:
X_data_reduced = X_data[20:50]
X_data_reduced.shape

(30, 23)

In [28]:
Y_data_reduced = Y_data[20:50]
Y_data_reduced.shape

(30,)

ml part for the reduced dataset

In [29]:
x_train, x_test, y_train, y_test = train_test_split(X_data_reduced, Y_data_reduced, test_size = 0.30)

from sklearn.ensemble import RandomForestClassifier

# creating a RF classifier
clf = RandomForestClassifier(n_estimators = 100) 
 
# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
clf.fit(x_train, y_train)
 
# performing predictions on the test dataset
y_pred = clf.predict(x_test)
 
# metrics are used to find accuracy or error
from sklearn import metrics 
print()
 
# using metrics module for accuracy calculation
print("ACCURACY OF THE REDUCED MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE REDUCED MODEL:  0.6666666666666666

### LMAO, overfitting be like... Anyway

# using SDV to generate synthetic data

In [30]:
!pip install ctgan

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ctgan
  Downloading ctgan-0.5.1-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: torchvision<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from ctgan) (0.12.0+cu113)
Requirement already satisfied: scikit-learn<2,>=0.24 in /usr/local/lib/python3.7/dist-packages (from ctgan) (1.0.2)
Requirement already satisfied: numpy<2,>=1.20.0 in /usr/local/lib/python3.7/dist-packages (from ctgan) (1.21.6)
Requirement already satisfied: pandas<2,>=1.1.3 in /usr/local/lib/python3.7/dist-packages (from ctgan) (1.3.5)
Collecting rdt<0.7,>=0.6.2
  Downloading rdt-0.6.4-py2.py3-none-any.whl (45 kB)
     |████████████████████████████████| 45 kB 4.9 MB/s
Requirement already satisfied: torch<2,>=1.8.0 in /usr/local/lib/python3.7/dist-packages (from ctgan) (1.11.0+cu113)
Requirement already satisfied: packaging<22,>=20 in /usr/local/lib/python3.7/dist-packages (from ctgan) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging<22,>=20->ctgan) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>=1.1.3->ctgan) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>=1.1.3->ctgan) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas<2,>=1.1.3->ctgan) (1.15.0)
Collecting scipy<1.8,>=1.5.4
  Downloading scipy-1.7.3-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (38.1 MB)
     |████████████████████████████████| 38.1 MB 1.2 MB/s
Collecting pyyaml<6,>=5.4.1
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 70.4 MB/s
Collecting psutil<6,>=5.7
  Downloading psutil-5.9.1-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (281 kB)
     |████████████████████████████████| 281 kB 73.8 MB/s
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan) (1.1.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch<2,>=1.8.0->ctgan) (4.2.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from torchvision<1,>=0.9.0->ctgan) (2.23.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.7/dist-packages (from torchvision<1,>=0.9.0->ctgan) (7.1.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan) (2022.5.18.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan) (2.10)
Installing collected packages: scipy, pyyaml, psutil, rdt, ctgan
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: psutil
    Found existing installation: psutil 5.4.8
    Uninstalling psutil-5.4.8:
      Successfully uninstalled psutil-5.4.8
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed ctgan-0.5.1 psutil-5.9.1 pyyaml-5.4.1 rdt-0.6.4 scipy-1.7.3

In [31]:
ReducedData = pd.concat([X_data_reduced, Y_data_reduced], axis =1)
ReducedData

,age,school_GP,school_MS,sex_F,sex_M,famsize_GT3,famsize_LE3,Pstatus_A,Pstatus_T,Mjob_at_home,...,Fjob_at_home,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,studytime_1,studytime_2,studytime_3,studytime_4,address
20,15,1,0,0,1,1,0,0,1,0,...,0,0,1,0,0,0,1,0,0,1
21,15,1,0,0,1,1,0,0,1,0,...,0,1,0,0,0,1,0,0,0,1
22,16,1,0,0,1,0,1,0,1,0,...,0,0,1,0,0,0,1,0,0,1
23,16,1,0,0,1,0,1,0,1,0,...,0,0,1,0,0,0,1,0,0,1
24,15,1,0,1,0,1,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
25,16,1,0,1,0,1,0,0,1,0,...,0,0,0,1,0,1,0,0,0,1
26,15,1,0,0,1,1,0,0,1,0,...,0,0,1,0,0,1,0,0,0,1
27,15,1,0,0,1,1,0,0,1,0,...,0,0,0,1,0,1,0,0,0,1
28,16,1,0,0,1,0,1,1,0,0,...,0,0,1,0,0,0,1,0,0,1
29,16,1,0,0,1,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,1
30,15,1,0,0,1,1,0,0,1,0,...,0,0,0,1,0,0,1,0,0,1
31,15,1,0,0,1,1,0,0,1,0,...,0,0,0,1,0,0,1,0,0,1
32,15,1,0,0,1,1,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
33,15,1,0,0,1,0,1,0,1,0,...,0,0,1,0,0,0,1,0,0,1
34,16,1,0,0,1,1,0,0,1,0,...,0,0,1,0,0,1,0,0,0,1
35,15,1,0,1,0,1,0,0,1,0,...,0,0,1,0,0,1,0,0,0,1
36,15,1,0,0,1,0,1,0,1,0,...,0,0,0,1,0,0,0,1,0,1
37,16,1,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0
38,15,1,0,1,0,1,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
39,15,1,0,1,0,1,0,0,1,1,...,0,0,1,0,0,1,0,0,0,0
40,16,1,0,1,0,0,1,0,1,0,...,0,0,1,0,0,0,1,0,0,1
41,15,1,0,0,1,0,1,0,1,0,...,0,0,1,0,0,1,0,0,0,1
42,15,1,0,0,1,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,1
43,15,1,0,0,1,1,0,0,1,0,...,0,0,0,1,0,1,0,0,0,1
44,16,1,0,1,0,0,1,0,1,0,...,1,0,0,0,0,0,1,0,0,1
45,15,1,0,1,0,0,1,1,0,0,...,0,0,1,0,0,0,1,0,0,1
46,16,1,0,1,0,0,1,1,0,0,...,0,0,0,1,0,0,1,0,0,1
47,16,1,0,0,1,1,0,0,1,0,...,0,0,0,1,0,0,0,0,1,1
48,15,1,0,0,1,1,0,0,1,0,...,0,0,1,0,0,0,1,0,0,1
49,15,1,0,1,0,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,1

In [33]:
from ctgan import CTGANSynthesizer

ctgan = CTGANSynthesizer(verbose=True)
ctgan.fit(ReducedData, X_data_reduced, epochs = 300)

/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  .fit(X)
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

Epoch 1, Loss G:  0.5492,Loss D: -0.0073
Epoch 2, Loss G:  0.5588,Loss D: -0.0804
Epoch 3, Loss G:  0.5396,Loss D: -0.0731
Epoch 4, Loss G:  0.5548,Loss D: -0.1468
Epoch 5, Loss G:  0.5350,Loss D: -0.1306
Epoch 6, Loss G:  0.5385,Loss D: -0.2185
Epoch 7, Loss G:  0.5582,Loss D: -0.2155
Epoch 8, Loss G:  0.5425,Loss D: -0.2325
Epoch 9, Loss G:  0.4168,Loss D: -0.3288
Epoch 10, Loss G:  0.3930,Loss D: -0.3556
Epoch 11, Loss G:  0.3826,Loss D: -0.3495
Epoch 12, Loss G:  0.2839,Loss D: -0.3980
Epoch 13, Loss G:  0.2418,Loss D: -0.3910
Epoch 14, Loss G:  0.0565,Loss D: -0.4645
Epoch 15, Loss G: -0.0375,Loss D: -0.4196
Epoch 16, Loss G: -0.1839,Loss D: -0.3289
Epoch 17, Loss G: -0.3082,Loss D: -0.3744
Epoch 18, Loss G: -0.3508,Loss D: -0.3261
Epoch 19, Loss G: -0.5677,Loss D: -0.2234
Epoch 20, Loss G: -0.6190,Loss D: -0.1057
Epoch 21, Loss G: -0.6505,Loss D: -0.1366
Epoch 22, Loss G: -0.7490,Loss D: -0.0992
Epoch 23, Loss G: -0.8316,Loss D: -0.0953
Epoch 24, Loss G: -0.9393,Loss D:  0.1187
Epoch 25, Loss G: -0.8986,Loss D:  0.0403
Epoch 26, Loss G: -0.9731,Loss D:  0.1882
Epoch 27, Loss G: -1.0472,Loss D:  0.1646
Epoch 28, Loss G: -0.9874,Loss D: -0.0074
Epoch 29, Loss G: -0.8931,Loss D:  0.1593
Epoch 30, Loss G: -1.1750,Loss D:  0.1024
Epoch 31, Loss G: -1.0261,Loss D:  0.1157
Epoch 32, Loss G: -1.0368,Loss D:  0.1407
Epoch 33, Loss G: -1.0561,Loss D:  0.1883
Epoch 34, Loss G: -0.9239,Loss D:  0.2362
Epoch 35, Loss G: -1.0144,Loss D:  0.1263
Epoch 36, Loss G: -0.9580,Loss D:  0.0571
Epoch 37, Loss G: -0.8404,Loss D:  0.1692
Epoch 38, Loss G: -0.7957,Loss D:  0.2167
Epoch 39, Loss G: -0.9874,Loss D:  0.1940
Epoch 40, Loss G: -0.9423,Loss D:  0.0889
Epoch 41, Loss G: -0.8264,Loss D:  0.1401
Epoch 42, Loss G: -0.8132,Loss D:  0.1279
Epoch 43, Loss G: -0.6339,Loss D:  0.2468
Epoch 44, Loss G: -0.7823,Loss D:  0.1843
Epoch 45, Loss G: -0.6572,Loss D:  0.1705
Epoch 46, Loss G: -0.6621,Loss D:  0.2025
Epoch 47, Loss G: -0.8158,Loss D:  0.1909
Epoch 48, Loss G: -0.6692,Loss D:  0.1254
Epoch 49, Loss G: -0.6620,Loss D:  0.2735
Epoch 50, Loss G: -0.5701,Loss D:  0.3496
Epoch 51, Loss G: -0.6364,Loss D:  0.1932
Epoch 52, Loss G: -0.5911,Loss D:  0.1424
Epoch 53, Loss G: -0.7134,Loss D:  0.2623
Epoch 54, Loss G: -0.5732,Loss D:  0.1252
Epoch 55, Loss G: -0.6256,Loss D:  0.0944
Epoch 56, Loss G: -0.7090,Loss D:  0.2354
Epoch 57, Loss G: -0.6335,Loss D:  0.1687
Epoch 58, Loss G: -0.5434,Loss D:  0.1924
Epoch 59, Loss G: -0.5611,Loss D: -0.0762
Epoch 60, Loss G: -0.5407,Loss D:  0.0262
Epoch 61, Loss G: -0.5752,Loss D:  0.0510
Epoch 62, Loss G: -0.5947,Loss D:  0.0731
Epoch 63, Loss G: -0.5648,Loss D:  0.1224
Epoch 64, Loss G: -0.4646,Loss D:  0.1568
Epoch 65, Loss G: -0.4874,Loss D: -0.0037
Epoch 66, Loss G: -0.4833,Loss D: -0.1577
Epoch 67, Loss G: -0.4698,Loss D: -0.0029
Epoch 68, Loss G: -0.5300,Loss D: -0.0905
Epoch 69, Loss G: -0.4810,Loss D:  0.1342
Epoch 70, Loss G: -0.3912,Loss D:  0.0338
Epoch 71, Loss G: -0.4735,Loss D:  0.0082
Epoch 72, Loss G: -0.3837,Loss D:  0.0486
Epoch 73, Loss G: -0.4072,Loss D:  0.0990
Epoch 74, Loss G: -0.3917,Loss D:  0.0983
Epoch 75, Loss G: -0.5134,Loss D:  0.0908
Epoch 76, Loss G: -0.4485,Loss D:  0.0472
Epoch 77, Loss G: -0.4745,Loss D: -0.1415
Epoch 78, Loss G: -0.4519,Loss D:  0.0401
Epoch 79, Loss G: -0.5286,Loss D:  0.0504
Epoch 80, Loss G: -0.4366,Loss D:  0.1404
Epoch 81, Loss G: -0.4710,Loss D:  0.1958
Epoch 82, Loss G: -0.4680,Loss D: -0.0295
Epoch 83, Loss G: -0.4847,Loss D:  0.0512
Epoch 84, Loss G: -0.5076,Loss D:  0.0682
Epoch 85, Loss G: -0.3692,Loss D: -0.0445
Epoch 86, Loss G: -0.4863,Loss D:  0.1260
Epoch 87, Loss G: -0.4422,Loss D:  0.0990
Epoch 88, Loss G: -0.4739,Loss D:  0.0071
Epoch 89, Loss G: -0.5636,Loss D:  0.2003
Epoch 90, Loss G: -0.4733,Loss D: -0.0031
Epoch 91, Loss G: -0.4477,Loss D:  0.0261
Epoch 92, Loss G: -0.4370,Loss D:  0.0923
Epoch 93, Loss G: -0.4159,Loss D:  0.0557
Epoch 94, Loss G: -0.5498,Loss D:  0.1107
Epoch 95, Loss G: -0.4809,Loss D:  0.0031
Epoch 96, Loss G: -0.4709,Loss D: -0.0119
Epoch 97, Loss G: -0.4342,Loss D: -0.0214
Epoch 98, Loss G: -0.4515,Loss D:  0.0615
Epoch 99, Loss G: -0.4060,Loss D: -0.1545
Epoch 100, Loss G: -0.5510,Loss D: -0.0398
Epoch 101, Loss G: -0.5207,Loss D: -0.1703
Epoch 102, Loss G: -0.4648,Loss D: -0.0559
Epoch 103, Loss G: -0.5392,Loss D:  0.0438
Epoch 104, Loss G: -0.4910,Loss D: -0.1022
Epoch 105, Loss G: -0.4579,Loss D: -0.0612
Epoch 106, Loss G: -0.4918,Loss D:  0.0651
Epoch 107, Loss G: -0.5970,Loss D: -0.0484
Epoch 108, Loss G: -0.5779,Loss D:  0.1227
Epoch 109, Loss G: -0.5082,Loss D: -0.0005
Epoch 110, Loss G: -0.5854,Loss D:  0.1145
Epoch 111, Loss G: -0.4503,Loss D:  0.0088
Epoch 112, Loss G: -0.4515,Loss D:  0.0444
Epoch 113, Loss G: -0.5649,Loss D: -0.0060
Epoch 114, Loss G: -0.4597,Loss D: -0.0048
Epoch 115, Loss G: -0.4836,Loss D: -0.0716
Epoch 116, Loss G: -0.5314,Loss D: -0.0873
Epoch 117, Loss G: -0.5581,Loss D:  0.1336
Epoch 118, Loss G: -0.4365,Loss D: -0.1156
Epoch 119, Loss G: -0.4329,Loss D: -0.0185
Epoch 120, Loss G: -0.5154,Loss D: -0.0738
Epoch 121, Loss G: -0.5095,Loss D:  0.0597
Epoch 122, Loss G: -0.4401,Loss D:  0.2018
Epoch 123, Loss G: -0.3932,Loss D: -0.0532
Epoch 124, Loss G: -0.5361,Loss D: -0.0636
Epoch 125, Loss G: -0.4338,Loss D:  0.1278
Epoch 126, Loss G: -0.3837,Loss D:  0.1197
Epoch 127, Loss G: -0.5179,Loss D: -0.0253
Epoch 128, Loss G: -0.3956,Loss D: -0.1652
Epoch 129, Loss G: -0.5168,Loss D:  0.0368
Epoch 130, Loss G: -0.4882,Loss D: -0.0184
Epoch 131, Loss G: -0.5488,Loss D:  0.0197
Epoch 132, Loss G: -0.5441,Loss D:  0.1505
Epoch 133, Loss G: -0.4920,Loss D:  0.0487
Epoch 134, Loss G: -0.6503,Loss D: -0.0226
Epoch 135, Loss G: -0.5618,Loss D: -0.0039
Epoch 136, Loss G: -0.6950,Loss D:  0.0049
Epoch 137, Loss G: -0.6506,Loss D:  0.0560
Epoch 138, Loss G: -0.5996,Loss D: -0.0109
Epoch 139, Loss G: -0.7121,Loss D: -0.0128
Epoch 140, Loss G: -0.6186,Loss D:  0.0186
Epoch 141, Loss G: -0.5887,Loss D: -0.0525
Epoch 142, Loss G: -0.6633,Loss D: -0.1233
Epoch 143, Loss G: -0.7763,Loss D:  0.0648
Epoch 144, Loss G: -0.7303,Loss D: -0.0367
Epoch 145, Loss G: -0.7633,Loss D:  0.0047
Epoch 146, Loss G: -0.8725,Loss D: -0.0441
Epoch 147, Loss G: -0.8357,Loss D: -0.1703
Epoch 148, Loss G: -0.6917,Loss D:  0.0222
Epoch 149, Loss G: -0.7483,Loss D: -0.0328
Epoch 150, Loss G: -0.8172,Loss D: -0.1183
Epoch 151, Loss G: -0.8276,Loss D: -0.0257
Epoch 152, Loss G: -0.7717,Loss D: -0.1388
Epoch 153, Loss G: -0.8576,Loss D: -0.1673
Epoch 154, Loss G: -0.7546,Loss D: -0.1943
Epoch 155, Loss G: -0.8658,Loss D: -0.2412
Epoch 156, Loss G: -0.8632,Loss D:  0.0109
Epoch 157, Loss G: -0.7789,Loss D: -0.1632
Epoch 158, Loss G: -0.7885,Loss D: -0.0841
Epoch 159, Loss G: -0.7822,Loss D: -0.0795
Epoch 160, Loss G: -0.8267,Loss D: -0.0892
Epoch 161, Loss G: -0.8167,Loss D: -0.1065
Epoch 162, Loss G: -0.8171,Loss D:  0.0561
Epoch 163, Loss G: -0.7399,Loss D:  0.0092
Epoch 164, Loss G: -0.8091,Loss D: -0.0509
Epoch 165, Loss G: -0.9191,Loss D: -0.0229
Epoch 166, Loss G: -0.6865,Loss D: -0.0572
Epoch 167, Loss G: -0.6715,Loss D:  0.0093
Epoch 168, Loss G: -0.6950,Loss D:  0.0689
Epoch 169, Loss G: -0.6314,Loss D:  0.1706
Epoch 170, Loss G: -0.6817,Loss D: -0.0543
Epoch 171, Loss G: -0.6280,Loss D: -0.1677
Epoch 172, Loss G: -0.6346,Loss D: -0.1323
Epoch 173, Loss G: -0.5331,Loss D: -0.0483
Epoch 174, Loss G: -0.4072,Loss D: -0.0795
Epoch 175, Loss G: -0.6124,Loss D: -0.0214
Epoch 176, Loss G: -0.6407,Loss D:  0.0576
Epoch 177, Loss G: -0.5611,Loss D: -0.0278
Epoch 178, Loss G: -0.6704,Loss D:  0.0255
Epoch 179, Loss G: -0.5827,Loss D: -0.0641
Epoch 180, Loss G: -0.6386,Loss D: -0.0584
Epoch 181, Loss G: -0.5102,Loss D: -0.0420
Epoch 182, Loss G: -0.5463,Loss D: -0.0558
Epoch 183, Loss G: -0.6000,Loss D: -0.1327
Epoch 184, Loss G: -0.5009,Loss D: -0.2027
Epoch 185, Loss G: -0.6185,Loss D: -0.0455
Epoch 186, Loss G: -0.5961,Loss D: -0.0801
Epoch 187, Loss G: -0.6365,Loss D: -0.0697
Epoch 188, Loss G: -0.5328,Loss D: -0.1905
Epoch 189, Loss G: -0.7033,Loss D: -0.0523
Epoch 190, Loss G: -0.5844,Loss D: -0.1094
Epoch 191, Loss G: -0.6552,Loss D: -0.1109
Epoch 192, Loss G: -0.6596,Loss D: -0.0563
Epoch 193, Loss G: -0.7881,Loss D: -0.1219
Epoch 194, Loss G: -0.7465,Loss D: -0.0744
Epoch 195, Loss G: -0.7957,Loss D: -0.0582
Epoch 196, Loss G: -0.8015,Loss D:  0.0388
Epoch 197, Loss G: -0.8916,Loss D: -0.0557
Epoch 198, Loss G: -0.8744,Loss D: -0.0416
Epoch 199, Loss G: -0.8345,Loss D: -0.0178
Epoch 200, Loss G: -0.8546,Loss D: -0.0070
Epoch 201, Loss G: -0.8921,Loss D:  0.0804
Epoch 202, Loss G: -0.6220,Loss D: -0.0190
Epoch 203, Loss G: -0.9427,Loss D: -0.0157
Epoch 204, Loss G: -0.8536,Loss D: -0.1073
Epoch 205, Loss G: -0.9602,Loss D:  0.0897
Epoch 206, Loss G: -0.7786,Loss D: -0.0347
Epoch 207, Loss G: -0.8779,Loss D: -0.0432
Epoch 208, Loss G: -0.8367,Loss D: -0.2205
Epoch 209, Loss G: -0.9103,Loss D:  0.0318
Epoch 210, Loss G: -0.9628,Loss D: -0.2460
Epoch 211, Loss G: -0.8681,Loss D: -0.0891
Epoch 212, Loss G: -0.9449,Loss D: -0.0731
Epoch 213, Loss G: -0.8505,Loss D: -0.0329
Epoch 214, Loss G: -1.0149,Loss D:  0.0636
Epoch 215, Loss G: -1.0747,Loss D: -0.1032
Epoch 216, Loss G: -0.9073,Loss D: -0.0263
Epoch 217, Loss G: -1.0766,Loss D: -0.3520
Epoch 218, Loss G: -1.0712,Loss D: -0.0599
Epoch 219, Loss G: -0.9404,Loss D: -0.1545
Epoch 220, Loss G: -0.9988,Loss D: -0.1697
Epoch 221, Loss G: -1.0997,Loss D:  0.0478
Epoch 222, Loss G: -1.0746,Loss D: -0.0127
Epoch 223, Loss G: -1.0169,Loss D:  0.0244
Epoch 224, Loss G: -1.0758,Loss D:  0.0704
Epoch 225, Loss G: -1.1623,Loss D:  0.0622
Epoch 226, Loss G: -1.1116,Loss D: -0.0029
Epoch 227, Loss G: -1.0363,Loss D:  0.0637
Epoch 228, Loss G: -1.1324,Loss D: -0.0283
Epoch 229, Loss G: -1.0824,Loss D: -0.2139
Epoch 230, Loss G: -1.0965,Loss D:  0.1414
Epoch 231, Loss G: -1.1170,Loss D: -0.2100
Epoch 232, Loss G: -1.0849,Loss D:  0.0286
Epoch 233, Loss G: -0.9781,Loss D:  0.0720
Epoch 234, Loss G: -1.0545,Loss D: -0.1304
Epoch 235, Loss G: -0.9976,Loss D: -0.0621
Epoch 236, Loss G: -1.0416,Loss D: -0.1582
Epoch 237, Loss G: -0.8835,Loss D: -0.1493
Epoch 238, Loss G: -0.9520,Loss D: -0.1982
Epoch 239, Loss G: -1.0395,Loss D: -0.2321
Epoch 240, Loss G: -0.9993,Loss D: -0.3370
Epoch 241, Loss G: -1.0160,Loss D: -0.1070
Epoch 242, Loss G: -1.1144,Loss D: -0.1517
Epoch 243, Loss G: -1.0526,Loss D: -0.1161
Epoch 244, Loss G: -0.9399,Loss D: -0.1796
Epoch 245, Loss G: -1.1306,Loss D: -0.2811
Epoch 246, Loss G: -1.0060,Loss D: -0.0283
Epoch 247, Loss G: -0.9766,Loss D: -0.1917
Epoch 248, Loss G: -1.1702,Loss D: -0.1511
Epoch 249, Loss G: -1.1612,Loss D:  0.0271
Epoch 250, Loss G: -1.1565,Loss D: -0.1929
Epoch 251, Loss G: -1.0354,Loss D: -0.1287
Epoch 252, Loss G: -1.0829,Loss D: -0.0829
Epoch 253, Loss G: -0.9950,Loss D: -0.1232
Epoch 254, Loss G: -0.9869,Loss D: -0.0050
Epoch 255, Loss G: -1.0788,Loss D: -0.0251
Epoch 256, Loss G: -1.0740,Loss D: -0.0981
Epoch 257, Loss G: -1.0678,Loss D:  0.0451
Epoch 258, Loss G: -1.0366,Loss D:  0.1967
Epoch 259, Loss G: -0.9884,Loss D:  0.0668
Epoch 260, Loss G: -0.9038,Loss D:  0.1397
Epoch 261, Loss G: -1.1615,Loss D: -0.0415
Epoch 262, Loss G: -1.0900,Loss D:  0.0634
Epoch 263, Loss G: -1.0590,Loss D: -0.0766
Epoch 264, Loss G: -1.0764,Loss D: -0.2335
Epoch 265, Loss G: -0.9946,Loss D: -0.0899
Epoch 266, Loss G: -1.0457,Loss D: -0.1179
Epoch 267, Loss G: -0.9170,Loss D:  0.0152
Epoch 268, Loss G: -0.9345,Loss D: -0.1842
Epoch 269, Loss G: -1.0319,Loss D: -0.1172
Epoch 270, Loss G: -1.0038,Loss D: -0.2823
Epoch 271, Loss G: -0.8226,Loss D: -0.3800
Epoch 272, Loss G: -1.1362,Loss D: -0.2432
Epoch 273, Loss G: -0.9377,Loss D: -0.1536
Epoch 274, Loss G: -0.9831,Loss D: -0.3584
Epoch 275, Loss G: -1.0376,Loss D: -0.1031
Epoch 276, Loss G: -0.9765,Loss D: -0.2080
Epoch 277, Loss G: -1.1383,Loss D: -0.1039
Epoch 278, Loss G: -0.9506,Loss D: -0.1449
Epoch 279, Loss G: -1.1674,Loss D: -0.0448
Epoch 280, Loss G: -1.2059,Loss D: -0.0408
Epoch 281, Loss G: -1.0689,Loss D: -0.1537
Epoch 282, Loss G: -1.1406,Loss D: -0.0421
Epoch 283, Loss G: -1.1416,Loss D: -0.0528
Epoch 284, Loss G: -1.0934,Loss D:  0.0530
Epoch 285, Loss G: -0.9792,Loss D: -0.2950
Epoch 286, Loss G: -1.0576,Loss D: -0.0688
Epoch 287, Loss G: -1.0425,Loss D: -0.0480
Epoch 288, Loss G: -0.9814,Loss D: -0.2179
Epoch 289, Loss G: -1.0358,Loss D:  0.1106
Epoch 290, Loss G: -0.9749,Loss D: -0.1428
Epoch 291, Loss G: -0.8792,Loss D: -0.1348
Epoch 292, Loss G: -0.9566,Loss D: -0.2847
Epoch 293, Loss G: -0.9052,Loss D:  0.0361
Epoch 294, Loss G: -0.9494,Loss D: -0.2071
Epoch 295, Loss G: -0.8692,Loss D: -0.1107
Epoch 296, Loss G: -0.7419,Loss D:  0.0366
Epoch 297, Loss G: -0.8088,Loss D: -0.1296
Epoch 298, Loss G: -0.7393,Loss D: -0.0964
Epoch 299, Loss G: -0.5218,Loss D: -0.1472
Epoch 300, Loss G: -0.6680,Loss D: -0.0449

In [49]:
sampled_data = ctgan.sample(1000)

print(sampled_data.head())

   age  school_GP  school_MS  sex_F  sex_M  famsize_GT3  famsize_LE3  \
0   16          1          0      1      1            1            0
1   16          1          0      1      1            0            0
2   16          1          0      0      1            1            0
3   15          1          0      0      1            0            0
4   16          1          0      0      1            1            0

   Pstatus_A  Pstatus_T  Mjob_at_home  ...  Fjob_at_home  Fjob_health  \
0          0          1             0  ...             0            0
1          0          1             0  ...             0            0
2          0          1             0  ...             0            0
3          0          1             0  ...             0            0
4          0          1             0  ...             1            0

   Fjob_other  Fjob_services  Fjob_teacher  studytime_1  studytime_2  \
0           0              1             0            1            1
1           0              0             0            0            0
2           1              0             0            1            0
3           0              1             0            0            1
4           0              0             1            1            0

   studytime_3  studytime_4  address
0            1            0        1
1            0            0        1
2            0            0        1
3            0            0        1
4            0            0        1

[5 rows x 24 columns]

In [40]:
sampled_data.shape

(700, 24)

In [50]:
X_data = sampled_data.drop(['address'],axis =1)
X_data.shape

Y_data = sampled_data['address']
Y_data.shape

(1000,)

In [51]:
x_train, x_test, y_train, y_test = train_test_split(X_data, Y_data, test_size = 0.30)

from sklearn.ensemble import RandomForestClassifier

# creating a RF classifier
clf = RandomForestClassifier(n_estimators = 100) 
 
# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
clf.fit(x_train, y_train)
 
# performing predictions on the test dataset
y_pred = clf.predict(x_test)
 
# metrics are used to find accuracy or error
from sklearn import metrics 
print()
 
# using metrics module for accuracy calculation
print("ACCURACY OF THE SAMPLED MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE SAMPLED MODEL:  0.95